<h1><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/account/register" method="post" id="registration-form">
  <p><span style="color:red">*</span> Required fields</p>
  <label for="account_firstname">First Name <span style="color:red">*</span></label>
  <input 
    type="text" 
    id="accountFirstname" 
    name="account_firstname" 
    required 
    value="<%= locals.account_firstname %>"
  >

  <label for="account_lastname">Last Name <span style="color:red">*</span></label>
  <input 
    type="text" 
    id="account_lastname" 
    name="account_lastname" 
    required 
    value="<%= typeof account_lastname !== 'undefined' ? account_lastname : '' %>"
  >

  <label for="account_email">Email <span style="color:red">*</span></label>
  <input 
    type="email" 
    id="account_email" 
    name="account_email" 
    required 
    value="<%= typeof account_email !== 'undefined' ? account_email : '' %>"
  >

  <label for="account_password">Password <span style="color:red">*</span></label>
  <input 
    type="password" 
    id="account_password" 
    name="account_password" 
    required
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    title="Password must be at least 12 characters, contain at least 1 capital letter, 1 number, and 1 special character."
  >
  <small>
    Password must be at least 12 characters, contain at least 1 capital letter, 1 number, and 1 special character.
  </small>

  <button type="submit">Register</button>
</form>
<p>Already have an account? Login <a href="/account/login">here!</a></p>